@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form action="@Url.Action("Register","Home")" method="post">
    <input name="username" type="text"/>
    <input name="password" type="text" />
    <button type="submit">Save</button>
</form>